<mat-card>
  <div style="display: flex; justify-content: space-between; align-items: center; padding: 8px 16px;  ">
    <!-- Title on the left -->
    <h2 style="margin: 0; font-size: 18px; font-weight: bold;">Users</h2>

    <!-- Button on the right -->
    <button mat-raised-button color="primary" style="width: 100px;" (click)="addUser()">Add User</button>
  </div>
  <mat-card-content>

    <table mat-table [dataSource]="(users$ | async) || []" class="mat-elevation-z8">
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 200px;">Actions</th>
        <td mat-cell *matCellDef="let user" style="width: 200px;">
          <button mat-icon-button color="accent" (click)="updateUser(user)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
            <mat-icon>delete</mat-icon>
          </button>
          <button mat-icon-button color="primary" (click)="viewOrders(user.id)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef style="width: 100px;">ID</th>
        <td mat-cell *matCellDef="let user" style="width: 100px;">{{ user.id }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let user">{{ user.name }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['actions', 'id', 'name']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['actions', 'id', 'name'];"></tr>
    </table>
  </mat-card-content>
</mat-card>